{% extends "base.html" %}

{% block content %}
<br>


<div class="container">
    <div class="container">
        <h1>Login Form</h1>
        <br>
        <div class="container">
            <form action="{% url "login" %}" method = 'POST'>
                {% csrf_token %}
                {{form.as_p}}
                
                <button class='btn btn-secondary'>Login</button>
            </form>
            <p>Don't have an account <a href="{% url "register" %}">Create Account </a> </p>


        </div>
    </div>
</div>

{% endblock content %}